.image-skeleton{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px 20px;    
    overflow: auto;
    height: 80vh;
    border-radius: 4px;
    max-width: fit-content;
    background: #fcfcfc;
    box-shadow:  12px 12px 42px #bdbdbd,-12px -12px 42px #ffffff;
    padding: 20px;
    overflow-x: hidden;
    grid-auto-flow: column-reverse;
}
.image-skeleton-card{
    width: 180px;
    height: 180px;
    object-fit: contain;
    /* border-radius: 5px; */
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    
}

@media (max-width:1200px){
    .image-skeleton{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:1000px){
    .image-skeleton{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:500px){
    .image-skeleton-card{
        width: 130px;
        height: 130px;
        padding: 22px;
        margin:0
    }

    .image-skeleton{
        padding: 20px;
    }
}
@media (max-width:420px){
    .image-skeleton-card{
        width: 100px;
        height: 100px;

    }

}