@media (max-width:750px){
    .chat-sidebar{
        width: 100% !important;
        background-color:white
    }

}

@media (max-width:900px){
    .chat-sidebar{
        position: absolute !important;
        width: 100% !important;
    }
}
@media (min-width:900px){
    .chat-sidebar{
        border-right:2px solid rgba(189, 189, 189, 0.3)
        ;
    }
}
