.collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 50px 50px;    
    overflow: auto;
    height: 80vh;
    border-radius: 10px;
    max-width: fit-content;
    background: #fcfcfc;box-shadow:  12px 12px 42px #bdbdbd,-12px -12px 42px #ffffff;
    padding: 40px;
    overflow-x: hidden;
    grid-auto-flow: column-reverse;
}

@media (max-width:1200px){
    .collection{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:1000px){
    .collection{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:500px){
    .collection{
        padding: 20px;
    }
}